[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
"discord.py" = "*"
tiktoken = "*"
pyyaml = "*"
cattrs = "*"
typing-extensions = "*"
discordhealthcheck = "*"

[dev-packages]
black = "*"
